* {
  margin: 0;
  padding: 0;
  /*  box-sizing: border-box; Asegura que el padding y el borde no alteren el tamaño del elemento */
}

body {
  background-color: #2F3544;
  color: #E0E0E0;
  display: flex;               /* Activa el modelo Flexbox */
  justify-content: center;      /* Centra horizontalmente */
  align-items: center; 
}

.app {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: stretch;
}

.app h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.app p {
  text-align: center;
  margin-top: 20px;
}

#email {
  font-size: 10px;
  margin-bottom: 10px;
}

.notification {
  color: green;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}


.billForm,
.categoryForm,
.loginForm {
  border: 1px solid #ccc; /* Borde sólido */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 15px; /* Añade espacio interno */
  margin-top: 15px; /* Añade espacio superior */
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra los elementos dentro del formulario */
  justify-content: space-around;
}

.userForm {
  border: 1px solid #ccc; /* Borde sólido */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 15px; /* Añade espacio interno */
  margin-top: 15px; /* Añade espacio superior */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra los elementos dentro del formulario */
  justify-content: space-around;
}

.registerForm {
  border: 1px solid #ccc; /* Borde sólido */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 15px; /* Añade espacio interno */
  margin-top: 40px; /* Añade espacio superior */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra los elementos dentro del formulario */
  justify-content: space-around;
}

.billForm h3,
.categoryForm h3 {
  margin-top: 2px; /* Reduce el espacio superior */
  margin-bottom: 8px; /* Reduce el espacio inferior */
  text-align: left;
  align-self: flex-start;
}

.form_category, 
.form_description, 
.form_amount, 
.form_button,
.form_date {
  display: grid;
  grid-template-columns: 1fr 2.3fr; /* Ajusta el ancho de las columnas */
  align-items: center;
  width: 55%; /* Todos los divs ocupan el 80% del formulario */
  margin: 0 auto; /* Centra el div en el formulario */
  margin-bottom: 10px;
}

.userForm_button {
  display: grid;
  grid-template-columns: 1fr 2.3fr; /* Ajusta el ancho de las columnas */
  align-items: center;
  width: 80%; /* Todos los divs ocupan el 80% del formulario */
  margin: 0 auto; /* Centra el div en el formulario */
  margin-bottom: 10px;
}

.form_create_user {
  display: grid;
  grid-template-columns: 1fr 2.3fr; /* Ajusta el ancho de las columnas */
  align-items: center;
  width: 80%; /* Todos los divs ocupan el 80% del formulario */
  margin: 0 auto; /* Centra el div en el formulario */
  margin-bottom: 10px;
}

.form_login {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 82%; /* Todos los divs ocupan el 80% del formulario */
  margin: 0 auto; /* Centra el div en el formulario */
  margin-bottom: 10px;
  text-align: left;
}

.form_login_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 82%;
 }

 .userForm_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
 }

 .form_login_button_register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 82%;
 }

.form_login input {
  width: 100%; /* Los inputs ocupan todo el ancho disponible */
  border: 1px solid #ccc; /* Borde de los inputs */
  border-radius: 5px; /* Esquinas redondeadas */
  text-align: left;
}


.form_category input, 
.form_description input, 
.form_amount input,
.form_date input,
.form_category_input input,
.form_create_user input {
  width: 100%; /* Los inputs ocupan todo el ancho disponible */
  border: 1px solid #ccc; /* Borde de los inputs */
  border-radius: 5px; /* Esquinas redondeadas */
  text-align: center;
}

.form_category_input,
.list_category {
  display: flex;
  flex-direction: row; /* Coloca los elementos en una columna */
  align-items: baseline;
  justify-content: space-around;
  width: 55%;
  height: fit-content;
  padding: 0;
  margin: 0 auto;
}

.list_category_father {
  margin-top: 15px; /* Añade espacio superior */
  display: flex;
  flex-direction: column; /* Coloca los elementos en una columna */
  align-items: center; /* Centra los elementos dentro del formulario */
  justify-content: space-around;
  width: 100%;
}

.list_category p {
  width: 100%; /* Los inputs ocupan todo el ancho disponible */
  text-align: left;
  line-height: 0;
  height: auto;
  margin-top: 1px;
}

.registerForm h4 {
  margin-top: 8px; /* Reduce el espacio superior */
  justify-content: center; /* Centra el div dentro del contenedor */
  text-align: center; /* Añade esta línea para centrar el texto */
  width: 100%; /* Asegura que el h3 ocupe todo el ancho disponible */
}

.form_category_input button,
.list_category button {
  cursor: pointer;
  border-radius: 5px; /* Esquinas redondeadas */
  width: 25%;
  padding: 1px;
}

.form_button,
.userForm_button {
  display: flex;
  justify-content: center; /* Centra el botón dentro del contenedor */
  margin-top: 10px;
}

.userForm_button button {
  margin-top: 16px; /* Reduce el espacio superior */
  margin-bottom: 12px; /* Reduce el espacio inferior */
  justify-content: center; /* Centra el div dentro del contenedor */
  text-align: center; /* Añade esta línea para centrar el texto */
  width: 100%; /* Asegura que el h3 ocupe todo el ancho disponible */
  font-weight: bold;
  border-radius: 10px;  
  cursor: pointer;
  padding: 8px;
}

.form_button button {
  width: 100%; /* El botón ocupa todo el ancho del div .form_button */
  padding: 8px; /* Espacio interno del botón */
  cursor: pointer;
  border-radius: 10px; /* Esquinas redondeadas */
}

.form_login_button button,
.form_login_button_register button {
  width: 100%; /* El botón ocupa todo el ancho del div .form_button */
  padding: 8px; /* Espacio interno del botón */
  cursor: pointer;
  border-radius: 10px; /* Esquinas redondeadas */
  margin-bottom: 12px;
}

.bill-border {
  border: 1px solid #ccc; /* Borde sólido */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 15px; /* Añade espacio interno */
  margin-top: 15px; /* Añade espacio superior */
}

.bill-header {
  display: grid;
  grid-template-columns: 0.9fr 1.3fr 1.3fr 0.8fr 0.5fr; /* Las mismas columnas que para las filas de datos */
  gap: 10px; /* Espacio entre columnas */
  font-weight: bold; /* Negrita para el encabezado */
  padding-bottom: 10px; /* Espacio debajo del encabezado */
  border-bottom: 2px solid #ccc; /* Línea separadora opcional */
}

.bills-list {
  list-style: none;
  padding: 0;
}

.bill-item {
  margin-bottom: 10px;
}

.bill-row {
  display: grid;
  grid-template-columns: 0.9fr 1.3fr 1.3fr 0.6fr 0.5fr; /* Ajusta el ancho de las columnas según prefieras */
  gap: 10px; /* Espacio entre columnas */
  align-items: center;
}

.bill-row span {
  padding: 5px 0;
}

.bill-row button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px; /* Esquinas redondeadas */
}

.bill-row span:nth-child(4) {
  text-align: right; /* Posiciona el numero de la comuna amount hacia la derecha */
  margin-right: 33px; /* Doble espacio de separación entre 'Amount' y 'Actions' */
}

.bill-header span:nth-child(4) {
  text-align: right; /* Posiciona el texto del encabezado amount al centro */
  margin-right: 33px; /* Doble espacio de separación entre 'Amount' y 'Actions' */
}

.bill-header span:nth-child(5) {
  text-align: center; /* Posiciona el texto del encabezado action al centro */
}

.loginForm h3 {
  margin-top: 8px; /* Reduce el espacio superior */
  margin-bottom: 25px; /* Reduce el espacio inferior */
  justify-content: center; /* Centra el div dentro del contenedor */
  text-align: center; /* Añade esta línea para centrar el texto */
  width: 100%; /* Asegura que el h3 ocupe todo el ancho disponible */
}

.userForm h3 {
  margin-top: 8px; /* Reduce el espacio superior */
  margin-bottom: 25px; /* Reduce el espacio inferior */
  justify-content: center; /* Centra el div dentro del contenedor */
  text-align: center; /* Añade esta línea para centrar el texto */
  width: 100%; /* Asegura que el h3 ocupe todo el ancho disponible */
}

.loginForm button {
  margin-top: 16px; /* Reduce el espacio superior */
  margin-bottom: 12px; /* Reduce el espacio inferior */
  justify-content: center; /* Centra el div dentro del contenedor */
  text-align: center; /* Añade esta línea para centrar el texto */
  width: 100%; /* Asegura que el h3 ocupe todo el ancho disponible */
  font-weight: bold;
}

.backButton {
  margin-top: 20px; /* Reduce el espacio superior */
  margin-bottom: 12px; /* Reduce el espacio inferior */
  justify-content: center; /* Centra el div dentro del contenedor */
  text-align: center; /* Añade esta línea para centrar el texto */
  width: 50%; /* Asegura que el h3 ocupe todo el ancho disponible */
  /*font-weight: bold;*/
  border-radius: 10px;  
  cursor: pointer;
  padding: 4px;
  margin-left: 25%;
}


/* ---- Header ----- */

.div_headerForm {
  width: 70%;
  align-self: center;
}

.headerForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline; /* Centra los elementos dentro del formulario */
  margin-bottom: 30px; 
}

.headerForm button {
  font-weight: bold;
  padding: 2px;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
}

.user_div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

#username {
  margin-left: 10px;
}
