body {
  background-color: #2F3544;
  color: #E0E0E0;
  display: flex;               /* Activa el modelo Flexbox */
  justify-content: center;      /* Centra horizontalmente */
  align-items: center;  
}

.notification {
  color: green;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

  /*
body {
  background-color: #343541; 
  color: #E0E0E0; /* Texto en un gris claro para mejor legibilidad 
}
  */
