body {
  /*
  background-color: #343541;
  color: #E0E0E0; /* Texto en un gris claro para mejor legibilidad 
  */
}

.notification {
  color: green;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

